* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 20px 10px;
}

main {
    padding: 20px 10px;
}

h3 {
    font-size: 30px;
    padding: 20px 0;
}

li {
    padding: 10px 10px;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 10px 0;
}

p {
    padding: 10px 0;
}